@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Light.otf");
    font-family: "Inter-Light";
    src: url("fonts/Inter-ExtraLight.otf");
    font-family: "InterThin";
    src: url("fonts/Inter-Thin.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    background-color: #101318;
}

a {
    text-decoration: none;
    color: #D9D9D9;
}

header {
    display: flex;
        justify-content: space-around;
    font-size: 20px;
    color: #181435;
    margin-top: 30px;
    width: 1072px;
    margin-left: 200px;
}

.MySummer span {
    color: #C89173;

}
.MySummer { color: #F6F6F6;}
.Title span {
    color: #C89173;
    background-color: #0C0F14;
}

.Menu {
    padding-left: 200px;
    display: flex;
    gap: 30px;

}

.Main {
    background-color: #0C0F14;
    width: 1135px;
    height: 334px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Title {
    background-color: #0C0F14;
    font-size: 32px;
    width: 140px;
    margin-top: 20px;
    color: #f6f6f6;
}

.MainText {
    background-color: #0C0F14;
    font-size: 16px;
    color: #D9D9D9;
    margin-top: 15px;
}
.Nav {
    display: flex;
    gap: 40px;
}

.ButtonLearn {
    background-color: #0C0F14;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    border: 1px solid #C89173;
}

.MainButton {
    background-color:#0C0F14;
}

.Text {
    background-color: #0C0F14;
    padding-left: 35px;
}

.MainLine {
    background-color: #0C0F14;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 145px;
    font-size: 10px;
    margin-top: 20px;
    color: #D9D9D9;

}
.history {
    width: 1100px;
    margin: auto;
}
.historymounth {
    margin-top: 30px;
    font-size: 16px;
    color: #D9D9D9;
}

.About { 
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.Story {
    width: 306px;
    font-size: 16px;

}

.txt {
    margin-top: 15px;
    color: #D9D9D9;
}

.TitleMounth {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #D9D9D9;
}
.Slider {
    width: 1120px;
}

.photo {
    display: flex;
    gap: 55px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.square {
    width: 8px;
    height: 8px;
    background: #C89173;
}

.Feedback {
    width: 1120px;
    margin: auto;
    display: flex;
    margin-top: 25px;
}

.FootText {
    border: 2px solid #EBE3D7;
    width: 600px;
    height: 255px;
}

.Connect {
   border: 2px solid #EBE3D7;
    width: 520px;
    height: 255px;
}

.FootTitle {
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #101318;
    color: white;
    width: 300px;
    line-height: 29px;
    height: 58px;
    font-family: "InterThin";
}
.EndText {
    font-size: 18px;
    background-color: #101318;
    color: white;
    font-family: "InterThin";
    margin-left: 30px;
    margin-top: 30px;
}


.email-form {
    padding-left: 30px;
    margin-top: 25px;
    background-color: #101318;
    border: none;
}

.email-form input {
    background-color: white;
    width: 250px;
    height: 40px;
    color: #878787;
    border: none;
    font-size: 18px;
    font-family: "InterThin";
    padding-left: 15px;
}

.podp {
    width: 200px;
    height: 40px;
    background-color: #B57C11;
    color: black;
    border: none;
    font-size: 18px;
    font-family: "InterThin";
    margin-top: 25px;
}

.FootButton {
    display: flex;
    background-color: #101318;
    gap: 25px;
}
.ConnectTitle {
    background-color: #101318;
    color: #D9D9D9;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 24px;
    font-family: "InterThin";
}

.ConnectLine {
    margin-left: 30px;
    background-color: #101318;
    margin-top: 10px;
}

.ConnectText {
    background-color: #101318;
}
.ConnectPhoto {  background-color: #101318;margin-top: 52px; ;}

.Mail {
    background-color: #101318;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 7%;
    margin-left: 30px;
    margin-top: 30px;
    color: #D9D9D9;
}
img {background-color: transparent;}
.Connect {display: flex; }

.foot {
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 30px;
    color: #D9D9D9;
}


@media (max-width: 440px) {
    * {
        box-sizing: border-box;
    }

    html,
    body {
        
        max-width: 440px;
        overflow-x: hidden;
    }

    body {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    header {
        width: 400px;
        margin: auto;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .MySummer {
        width: auto;
        font-size: 20px;
        white-space: nowrap;
    }
    .Menu {
        display: none;
    }
    .burger {
        width: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }

    .burger span {
        display: block;
        width: 22px;
        height: 2px;
        background-color: #C58A1A;
    }

    .Main {
        width: 400px;
        height: auto;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }


    .Collage img {
        display: block;
        width: 400px;
        height: 230px;
    }

    .Text {
        order: 2;
        width: 400px;
        padding: 22px 20px 22px;
        
    }

    .Title {
        width: 400px;
        margin-top: 0;
        font-size: 30px;
    }


    .MainText {
        width: 100%;
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.5;
    }

    .MainText br {
        display: none;
    }
    .MainButton {
        width: 100%;
    }

    .ButtonLearn {
        width: 350px;
        height: 40px;
        color: #D9D9D9;
        font-size: 14px;
         background-color: #101318;
    font-size: 16px;
    margin-top: 15px;
    border: 2px solid   #C89173;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px
    }

    .MainLine {
       display: none;
    }

    .history {
        width: 390px;
        margin: auto;
    }

    .historymounth {
        width: 400px;
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.3;
    }

    .About {
        width: 400px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .Story {
        width: 100%;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .Story img {
        width: 150px;
        height: 160px;
        border-radius: 6px;
        display: block;
        object-fit: cover;
    }

    .txt {
        width: 400px;
        margin-top: 0;
        font-size: 13px;
        line-height: 1.45;
    }

 .Slider {
        width: 400px;
    }

    .TitleMounth {
        margin-top: 20px;
        margin-bottom: 12px;
        font-size: 14px;
    }

    .slider {
        width: 400px;
        overflow: hidden;
    }

    .photo {
        width: 100%;
        display: flex;
        gap: 8px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        flex-wrap: nowrap;
    }

    .photo img {
        width: 160px;
        height: 150px;
        object-fit: cover;
        display: block;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 15px;
    }

    .square {
        width: 8px;
        height: 8px;
        padding: 0;
        border: none;
    }
    .FootText {
        width: 100%;
        background-color:  #1B1F25;
        height: 300px;
        border: none;
    }
    .FootButton {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        background-color: #1B1F25;
        width: 440px;
        gap: 0;

    }
    .Connect {
        display: none;
    }

    .FootTitle {
        background-color: #1B1F25;
        color: #D9D9D9;
    }
    .EndText {
        background-color: #1B1F25;
        color: #D9D9D9;
    }
        .email-form {
    margin-top: 25px;
    background-color: #1B1F25;
    border: none;
    padding-left: 0;
    border-radius: 10px;
}

.email-form input {
    background-color:#1B1F25;
    width: 250px;
    height: 40px;
    color: #D9D9D9;
    border: 2px solid #D9D9D9;
    font-size: 18px;
    font-family: "InterThin";
   border-radius: 10px;

    }

    .foot {
        background-color: #101318;
        width: 400px;
        margin-top: px;
        padding-bottom: 22px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 7px;
        font-size: 11px;
        line-height: 1.4;
    }

    .foot1,
    .foot2 {
        background-color:  #101318;
        width: 100%;
    }
    .podp {
    width: 250px;
    height: 40px;
    background-color: #C89173;
    color: #1B1F25;
    border: none;
    font-size: 18px;
    font-family: "InterThin";
    margin-top: 15px;
       border-radius: 10px;
}

}